* {
  margin: 0px;
  padding: 0px;
  outline: 0px;
  box-sizing: border-box;
  vertical-align: baseline;
}

html {
  font-family: 'Lato', sans-serif;
}

body {
  width: 100%;
  /*margin: 0 auto;*/
}

h1 {
  font-size: 48px;
  font-weight: 100;
  color: #2B9DFF;
}

h3 {
  font-size: 24px;
}

p {
  font-size: 16px;
}

.btnOutLine {
  display: block;
  text-decoration: none;
  color: #2B9DFF;
  border: 2px solid #2B9DFF;
  border-radius: 6px;
  width: 175px;
  height: 53px;
  line-height: 53px;
  text-align: center;
  margin-top: 30px;
}

.btnFilled {
  display: block;
  text-decoration: none;
  color: white;
  background-color: #2B9DFF;
  border-radius: 6px;
  width: 175px;
  height: 53px;
  line-height: 53px;
  text-align: center;
  margin-top: 30px;
}

/*------------Nav-------------*/

nav {
  line-height: 150px;
  text-align: right;
}

nav a {
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  margin-left: 30px;
}

nav a:first-child {
  float: left;
  color: #000000; 
}

nav a img {
  vertical-align: middle;
}

nav a span {
  background-color: #2B9DFF;
  padding: 5px 15px;
  border-radius: 1000px;
  font-weight: 100;
  color: white;
  margin-left: 7px;
}

/*------------Header-------------*/

header {
  height: 100vh;
  min-height: 100vh;
  padding: 0 5%;
  background-image: url("../img/background_header.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom right;
}

header h1 {
  width: 40%;
  margin: 2em 0 0 0;
}

/*-----------Team-------------*/

.team {
  text-align: center;
  margin: 10em 0 3em 0;
  padding: 0 5%;
  background-image: url("../img/background_team.png");
  background-repeat: no-repeat;
  background-position: center;
}

.team h1 {
  width: 50%;
  margin: 0 auto 30px auto;
}

.members {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10%;
}

.person {
  width: 16%;
  margin: 0 30px;
  color: #2B9DFF;

}
.person i{
  margin-bottom: 10px;
  font-size: 70px;
  
}

.person h3 {
  margin-bottom: 5px;
}

.about {
  padding: 0 5%;
  background-image: url("../img/background_about.png");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 80%;
  height: 900px;
  min-height: 900px;
}

.about h1 {
  margin-bottom: 30px;
  padding-top: 300px;
}

.icon img {
  margin-right: 30px;
}

.about h1, .icons {
  margin-left: 50%;
}

/*-----------callToAction-------------*/

.callToAction {
  text-align: center;
  padding: 20em 5% 20em 5%;
  background-image: url("../img/background_calltoaction.png");
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: center;
}

.callToAction h1, .callToAction a {
  display: inline-block;
  margin: 0 60px;
  vertical-align: middle;
}


/*--------Info------------*/
.container-info{
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #F8FBFF;
}

.container-info .info{
  width: 50%;
  margin: 5% 30px;
  text-align: center;
}
.info h3{
  margin-bottom: 10px;
}

.info ul{
  list-style: none;
  display: inline-block;
}

.info ul li{
  
  font-size: 25px;
  text-align: center;
  float: left;
  margin-left: 20px;

}

/*--------Footer-----------*/

footer {
  padding: 0 5%;
  margin-bottom: 40px;
  color: #2B9DFF;
}

footer p, .footerPages {
  display: inline-block;
  
}

.footerPages {
  float: right;
}

.footerPages a{
  text-decoration: none;
  font-weight: 100;
  color: #2B9DFF;
  margin-left: 30px;
}

/*-------Responsive--------*/
@media(max-width:1000px){

  header {
    height: 1600px;
    min-height: 1600px;
    background-image: url("../img/mobile_background_header.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom right;
  }

  header h1{
    width: 100%;
  }

  .team {
    margin: 10em 0 3em 0;
    background-image: url("../img/mobile_background_team.png");
    background-position: top;
  }

  .team h1{
    width: 100%;
  }

  .about {
    background-image: url("../img/mobile_background_about.png");
    background-size: contain;
    height: 900px;
    min-height: 900px;
    overflow-y: visible;
  }


  .about h1 {
    padding-top: 900px;
  }

  .about h1, .icons{
    margin-left: 0;
  }

  .callToAction{
    margin-top: 25em;
    padding: 15em 5% 15em 5%;
    background-size: 70%;
  }

  .callToAction h1, .callToAction a {
    margin-bottom: 30px;
  }

  footer{
    text-align: center;
  }

  .footerPages{
    visibility: hidden;
  }

  footer p, .footerPages{
    display: block;
  }

}
@media (max-width:600px){
  header{
    height: 1300px;
    min-height: 1300px;
  }

  header h1{
    margin: 1em 0 0 0;
  }

  .about h1{
    padding-top: 800px;
  }

  .members{
    flex-direction: column;
    width: 80%;
  }

  .person{
    width: 100%;
    margin-top: 30px;

  }
}